.section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__title-title,
.section__title-sub,
.section__title-description {
    font-family: var(--inter-font);
}

.section__title-sub,
.section__title-description {
    font-size: 20px;
    text-align: center;
}

.section__title-sub {
    position: relative;
    height: 28px;
    color: var(--second-color);
    font-weight: var(--weight-500);
    line-height: 28px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.section__title-sub::before,
.section__title-sub::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 60px;
    height: 4px;
    background-color: var(--second-color);
    border-radius: 3px;
}

.section__title-sub::before {
    right: calc(100% + 16px);
}

.section__title-sub::after {
    left: calc(100% + 16px);
}

.section__title-title {
    height: 60px;
    color: var(--first-color);
    font-family: var(--inter-font);
    font-size: 48px;
    font-weight: var(--weight-700);
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.9px;
    margin-block: 34px 21px;
}

.section__title-description {
    color: var(--text-color);
    font-weight: var(--weight-400);
    line-height: 32.5px;
    letter-spacing: 0.4px;
}