/* =============== HOME =============== */
.home {
    position: relative;
    background-image: url(/src/assets/home.png);
    background-size: cover;
    height: 900px;
}

.home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 8rem;
    padding-top: 4rem;
}

.home__title {
    margin-bottom: 9px;
    padding-bottom: 10px;
    font-size: 60px;
    color: var(--border-color-alt);
    font-weight: var(--weight-600);
    line-height: 148%;
    letter-spacing: 2px;
}

.home__title img {
    display: inline-block;
    width: 40px;
    height: 36px;
    margin-left: 12px;
}

.home__weather-widget {
    width: 281px;
    height: 391px;
    margin-left: 41px;
}

.home__memberships {
    margin-top: 56px;
}

.home__welcome {
    width: 144.27px;
    height: 23px;
    padding: 3px 6px;
    color: var(--black-color);
    background-color: var(--second-color);
    font-size: 12px;
    font-weight: var(--weight-400);
    line-height: 16px;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
}

.home__subtitle {
    max-width: 361px;
    color: var(--white-color);
    font-size: 48px;
    font-weight: var(--weight-600);
    line-height: 120%;
    vertical-align: middle;
    margin-block: 23px 24px;
}

.home__description {
    max-width: 512px;
    color: var(--white-color);
    font-size: 20px;
    font-weight: var(--weight-400);
    line-height: 120%;
    vertical-align: middle;
    margin-bottom: 64px;
}

.home__links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    width: 439px;
    height: 62px;
}

.home__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.join-now-link {
    width: 187px;
    height: 62px;
    padding: 10px 20px;
    background-color: var(--white-color);
    border: 2px solid var(--first-color);
}

.home__link-join-txt,
.home__link-learn-txt {
    font-size: 24px;
    font-weight: var(--weight-600);
    line-height: 148%;
    text-align: center;
    vertical-align: middle;
}

.home__link-join-txt {
    width: 105px;
    height: 36px;
    color: var(--first-color);
}

.home__link-img {
    width: 32px;
    height: 26px;
}

.learn-more-link {
    width: 174px;
    height: 60px;
    color: var(--white-color);
    padding: 12px 23px;
    border: 1px solid transparent;
    background: var(--button-linear-gradient) padding-box, var(--border-linear-gradient) border-box;
}

.home__link-learn-txt {
    width: 128px;
    height: 36px;
}

.home__scroll {
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
    bottom: 13px;
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 166px;
    height: 24px;
    margin-inline: auto;
    cursor: pointer;
}

.home__scroll-img {
    width: 18px;
    height: 18px;
}

.home__scroll-txt {
    width: 130px;
    height: 24px;
    color: var(--white-color);
    font-family: var(--inter-font);
    font-size: 20px;
    font-weight: var(--weight-400);
    line-height: 100%;
    text-align: center;
}

/* =============== ABOUT =============== */
.about {
    padding-block: 61px 25.25px;
    padding-inline: 272px;
    background-color: var(--body-color-alt);
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 31px;
}

.about__description,
.about__info {
    text-align: center;
}

.about__description {
    max-width: 896px;
    color: var(--text-color-alt-2);
    font-size: 20px;
    font-weight: var(--weight-400);
    line-height: 32px;
    letter-spacing: 0.4px;
    /* margin-block: 37px 27.25px; */
}

.about__info {
    max-width: 743px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: var(--weight-400);
    line-height: 29.25px;
    letter-spacing: 0.36px;
}

.about__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 124px;
    margin-inline: 68px;
    background-color: var(--white-color);
}

/* =============== SERVICES =============== */
.services {
    padding-top: 61px;
}

.services__container {
    grid-template-columns: repeat(2, 647px);
    row-gap: 32px;
    padding-top: 66px;
}

.services__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.services__title {
    position: relative;
}

.services__title-crop-img,
.services__title-note-img {
    position: absolute;
    bottom: 0px;
    width: 40px;
    height: 40px;
}

.services__title-crop-img {
    top: -2px;
    left: 48px;
}

.services__title-note-img {
    top: -3px;
}

.services__title-location-img {
    position: absolute;
    top: 1px;
    left: 4px;
    bottom: 0;
    width: 32px;
    height: 32px;
}

.services__title-txt {
    max-width: 533px;
    color: var(--first-color);
    font-size: 36px;
    font-weight: var(--weight-600);
    line-height: 36px;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    margin-left: 50px;
}

.services__subtitle {
    height: 34px;
    background: var(--subtitle-linear-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-weight: var(--weight-500);
    line-height: 26px;
    text-align: center;
    margin-block: 23px 40px;
}

.services__description {
    margin-inline: 70px;
    margin-bottom: 62px;
    padding-bottom: 12px;
}

.services__description p:first-child {
    color: var(--text-color);
    font-size: 18px;
    font-weight: var(--weight-400);
    line-height: 26px;
    text-align: center;
    opacity: 80%;
}

.services__description p:nth-child(2) {
    color: var(--text-color);
    font-size: 18px;
    font-weight: var(--weight-400);
    line-height: 26px;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    opacity: 70%;
    margin-top: 3px;
}

.services__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 34px;
}

.services__link {
    height: 60px;
    border-radius: 15px;
}

.service__link-singup,
.service__link-discover {
    font-size: 24px;
    font-weight: var(--weight-600);
    line-height: 148%;
    letter-spacing: 0.55px;
    vertical-align: middle;
    cursor: pointer;
}

.service__link-singup {
    padding: 12px 23px;
    color: var(--white-color);
    border: 1px solid transparent;
    background: linear-gradient(var(--first-color), var(--first-color)) padding-box,
        var(--border-linear-gradient) border-box;
    text-align: center;
}

.service__link-discover {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border: 2px solid var(--first-color);
}

.service__link-discover-txt {
    color: var(--first-color);
    line-height: 148%;
    vertical-align: middle;
}

.service__link-discover-icon {
    width: 32px;
    height: 26px;
}

.services__image-wrapper {
    overflow: hidden;
    width: 650px;
    height: 742px;
    background: hsla(0, 0%, 85%, 1);
    border-radius: 20px;
    box-shadow: 0px 6px 10px 1px hsla(0, 0%, 0%, 0.25);
}

.service-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
