.services,
.howItWorks__home,
.benefits,
.fqa {
    background-color: var(--body-color);
}

/* =============== HOME =============== */
.home {
    position: relative;
    background-image: url(/src/assets/home.png);
    background-size: cover;
    height: 900px;
}

.home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 8rem;
    padding-top: 4rem;
}

.home__title {
    margin-bottom: 9px;
    padding-bottom: 10px;
    font-size: 60px;
    color: var(--border-color-alt);
    font-weight: var(--weight-600);
    line-height: 148%;
    letter-spacing: 2px;
}

.home__title img {
    display: inline-block;
    width: 40px;
    height: 36px;
    margin-left: 12px;
}

.home__weather-widget {
    width: 281px;
    height: 391px;
    margin-left: 41px;
}

.home__memberships {
    margin-top: 56px;
}

.home__welcome {
    width: 144.27px;
    height: 23px;
    padding: 3px 6px;
    color: var(--black-color);
    background-color: var(--second-color);
    font-size: 12px;
    font-weight: var(--weight-400);
    line-height: 16px;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
}

.home__subtitle {
    max-width: 361px;
    color: var(--white-color);
    font-size: 48px;
    font-weight: var(--weight-600);
    line-height: 120%;
    vertical-align: middle;
    margin-block: 23px 24px;
}

.home__description {
    max-width: 512px;
    color: var(--white-color);
    font-size: 20px;
    font-weight: var(--weight-400);
    line-height: 120%;
    vertical-align: middle;
    margin-bottom: 64px;
}

.home__links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    width: 439px;
    height: 62px;
}

.home__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.join-now-link {
    width: 187px;
    height: 62px;
    padding: 10px 20px;
    background-color: var(--white-color);
    border: 2px solid var(--first-color);
}

.home__link-join-txt,
.home__link-learn-txt {
    font-size: 24px;
    font-weight: var(--weight-600);
    line-height: 148%;
    text-align: center;
    vertical-align: middle;
}

.home__link-join-txt {
    width: 105px;
    height: 36px;
    color: var(--first-color);
}

.home__link-img {
    width: 32px;
    height: 26px;
}

.learn-more-link {
    width: 174px;
    height: 60px;
    color: var(--white-color);
    padding: 12px 23px;
    border: 1px solid transparent;
    background: var(--button-linear-gradient) padding-box, var(--border-linear-gradient) border-box;
}

.home__link-learn-txt {
    width: 128px;
    height: 36px;
}

.home__scroll {
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
    bottom: 13px;
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 166px;
    height: 24px;
    margin-inline: auto;
    cursor: pointer;
}

.home__scroll-img {
    width: 18px;
    height: 18px;
}

.home__scroll-txt {
    width: 130px;
    height: 24px;
    color: var(--white-color);
    font-family: var(--inter-font);
    font-size: 20px;
    font-weight: var(--weight-400);
    line-height: 100%;
    text-align: center;
}


/* =============== ABOUT =============== */
.about {
    padding-block: 61px 25.25px;
    padding-inline: 272px;
    background-color: var(--body-color-alt);
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 31px;
}

.about__description,
.about__info {
    text-align: center;
}

.about__description {
    max-width: 896px;
    color: var(--text-color-alt-2);
    font-size: 20px;
    font-weight: var(--weight-400);
    line-height: 32px;
    letter-spacing: 0.4px;
    /* margin-block: 37px 27.25px; */
}

.about__info {
    max-width: 743px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: var(--weight-400);
    line-height: 29.25px;
    letter-spacing: 0.36px;
}

.about__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 124px;
    margin-inline: 68px;
    background-color: var(--white-color);
}

/* =============== SERVICES =============== */
.services {
    padding-top: 61px;
}

.services__container {
    grid-template-columns: repeat(2, 647px);
    row-gap: 32px;
    padding-top: 66px;
}

.services__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.services__title {
    position: relative;
}

.services__title-crop-img,
.services__title-note-img {
    position: absolute;
    bottom: 0px;
    width: 40px;
    height: 40px;
}

.services__title-crop-img {
    top: -2px;
    left: 48px;
}

.services__title-note-img {
    top: -3px;
}

.services__title-location-img {
    position: absolute;
    top: 1px;
    left: 4px;
    bottom: 0;
    width: 32px;
    height: 32px;
}

.services__title-txt {
    max-width: 533px;
    color: var(--first-color);
    font-size: 36px;
    font-weight: var(--weight-600);
    line-height: 36px;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    margin-left: 50px;
}

.services__subtitle {
    height: 34px;
    background: var(--subtitle-linear-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-weight: var(--weight-500);
    line-height: 26px;
    text-align: center;
    margin-block: 23px 40px;
}

.services__description {
    margin-inline: 70px;
    margin-bottom: 62px;
    padding-bottom: 12px;
}

.services__description p:first-child {
    color: var(--text-color);
    font-size: 18px;
    font-weight: var(--weight-400);
    line-height: 26px;
    text-align: center;
    opacity: 80%;
}

.services__description p:nth-child(2) {
    color: var(--text-color);
    font-size: 18px;
    font-weight: var(--weight-400);
    line-height: 26px;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    opacity: 70%;
    margin-top: 3px;
}

.services__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 34px;
}

.services__link {
    height: 60px;
    border-radius: 15px;
}

.service__link-singup,
.service__link-discover {
    font-size: 24px;
    font-weight: var(--weight-600);
    line-height: 148%;
    letter-spacing: 0.55px;
    vertical-align: middle;
    cursor: pointer;
}

.service__link-singup {
    padding: 12px 23px;
    color: var(--white-color);
    border: 1px solid transparent;
    background: linear-gradient(var(--first-color), var(--first-color)) padding-box,
        var(--border-linear-gradient) border-box;
    text-align: center;
}

.service__link-discover {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border: 2px solid var(--first-color);
}

.service__link-discover-txt {
    color: var(--first-color);
    line-height: 148%;
    vertical-align: middle;
}

.service__link-discover-icon {
    width: 32px;
    height: 26px;
}

.services__image-wrapper {
    overflow: hidden;
    width: 650px;
    height: 742px;
    background: hsla(0, 0%, 85%, 1);
    border-radius: 20px;
    box-shadow: 0px 6px 10px 1px hsla(0, 0%, 0%, 0.25);
}

.service-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* =============== HOW TI WORKS =============== */
.howItWorks__home {
    padding-top: 4.75rem;
}

.howItWorks__home .section__title-description {
    max-width: 558px;
}

.howItWorks__home__container {
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    gap: 85px;
    margin-top: 38px;
    padding-block: 5px;
}

.howItWorks__home__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 20px;
    box-shadow: 0px 6px 10px 1px hsla(0, 0%, 0%, 0.25);
    padding-block: 36px 6.75px;
    padding-inline: 35px;
    z-index: 1;
}

.howItWorks__home__card-img {
    width: 60px;
    height: 60px;
}

.howItWorks__home__card-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    padding: 16px 18px;
    background: var(--circle-linear-gradient);
    border-radius: 50%;
    margin-block: 20px 16px;
}

.howItWorks__home__card-number p {
    width: 28px;
    height: 32px;
    color: var(--white-color);
    font-size: 24px;
    font-weight: var(--weight-700);
    line-height: 32px;
    text-align: center;
}

.howItWorks__home__card-title {
    max-width: 163px;
    color: var(--first-color);
    font-size: 20px;
    font-weight: var(--weight-600);
    line-height: 28px;
    text-align: center;
    margin-bottom: 16px;
}

.howItWorks__home__card-description {
    max-width: 191px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: var(--weight-400);
    line-height: 22.75px;
    text-align: center;
}

.howItWorks__home__horizontal-line {
    position: absolute;
    top: 153px;
    left: 1.2rem;
    width: calc(100% - (1.2rem * 2));
    height: 1px;
    background-color: var(--second-color);
    z-index: 0;
}

/* =============== BENEFITES =============== */
.benefits {
    padding-block: 85px 69px;
    padding-inline: 146px;
}

.benefits .section__title-description {
    max-width: 658px;
}

.benefits__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 31px;
    padding-top: 49px;
}

.benefits__card {
    height: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 34px;
    background-color: var(--white-color);
    border: 2px solid var(--body-color);
    border-radius: 20px;
    box-shadow: 0px 4px 6px 0px hsla(0, 0%, 0%, 0.1);
    transition: box-shadow .3s ease-in-out;
    cursor: pointer;
}

.benefits__card:hover {
    box-shadow: 0px 10px 15px 0px hsla(0, 0%, 0%, 0.1);
}

.benefits__card-image-wrapper:hover {
    box-shadow: 0px 10px 15px 0px hsla(0, 0%, 0%, 0.1);
}

.benefits__card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.benefits__card-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    padding: 14px 17px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px 0px hsla(0, 0%, 0%, 0.1);
}

.benefits__card:nth-child(1) .benefits__card-image-wrapper {
    background: var(--blue-linear-gradient);
}

.benefits__card:nth-child(2) .benefits__card-image-wrapper {
    background: var(--green-linear-gradient);
}

.benefits__card:nth-child(3) .benefits__card-image-wrapper {
    background: var(--yellow-linear-gradient);
}

.benefits__card:nth-child(4) .benefits__card-image-wrapper {
    background: var(--pink-linear-gradient);
}

.benefits__card:nth-child(5) .benefits__card-image-wrapper {
    background: var(--purple-linear-gradient);
}

.benefits__card:nth-child(6) .benefits__card-image-wrapper {
    background: var(--green-blue-linear-gradient);
}

.benefits__card-img {
    max-width: 32px;
    height: 36px;
}

.benefits__card-txt {
    color: var(--black-color-alt-2);
    font-size: 20px;
    font-weight: var(--weight-600);
    line-height: 28px;
}

.benefits__card-description {
    color: var(--text-color);
    font-size: 16px;
    font-weight: var(--weight-400);
    line-height: 26px;
}

/* =============== CROP SOLUATIONS =============== */
.cropSoluations {
    min-height: 100vh;
    padding-block: 1px 111px;
    padding-inline: 146px;
    background-color: var(--body-color-alt-2);
}

.cropSoluations .section__title-description {
    max-width: 750px;
}

.cropSoluations__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 33px 32px;
    padding-block: 38px 43px;
}

.cropSoluations__card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color-alt);
    border-radius: 24px;
    box-shadow: 0px 1px 3px 0px hsla(0, 0%, 0%, 0.1);
    text-transform: capitalize;
    /* transition: box-shadow .3s ease-in-out; */
}

/* .cropSoluations__card:hover {
} */

.cropSoluations__card-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 28px 133px;
    border: 1.45px solid hsla(220, 14%, 96%, 1);
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.cropSoluations__card:nth-child(1) .cropSoluations__card-header {
    background: linear-gradient(90deg, hsla(48, 100%, 96%, 1) 0%, hsla(48, 96%, 89%, 1) 100%);
}

.cropSoluations__card:nth-child(2) .cropSoluations__card-header {
    background: linear-gradient(90deg, hsla(55, 92%, 95%, 1) 0%, hsla(55, 97%, 88%, 1) 100%);
}

.cropSoluations__card:nth-child(3) .cropSoluations__card-header {
    background: linear-gradient(90deg, hsla(33, 100%, 96%, 1) 0%, hsla(34, 100%, 92%, 1) 100%);
}

.cropSoluations__card:nth-child(4) .cropSoluations__card-header {
    background: linear-gradient(90deg, hsla(0, 86%, 97%, 1) 0%, hsla(0, 93%, 94%, 1) 100%);
}

.cropSoluations__card:nth-child(5) .cropSoluations__card-header {
    background: linear-gradient(90deg, hsla(60, 9%, 98%, 1) 0%, hsla(60, 5%, 96%, 1) 100%);
}

.cropSoluations__card:nth-child(6) .cropSoluations__card-header {
    background: linear-gradient(90deg, hsla(210, 40%, 98%, 1) 0%, hsla(210, 40%, 96%, 1) 100%);
}

.cropSoluations__card-header-img {
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
}

.cropSoluations__card-header-name {
    margin-bottom: 10px;
    color: var(--first-color);
    font-size: 24px;
    font-weight: var(--weight-700);
    line-height: 32px;
    text-align: center;
}

.cropSoluations__card-header-type {
    padding: 2px 10px;
    color: var(--first-color);
    font-size: 12px;
    font-weight: var(--weight-600);
    line-height: 16px;
    border: 1px solid hsla(118, 47%, 23%, 0.2);
    border-radius: 6px;
    text-align: center;
}

.cropSoluations__card-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-inline: 29px;
    padding-bottom: 26px;
}

.cropSoluations__card-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
}

.cropSoluations__card-data div {
    width: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px 29px;
    background-color: hsla(210, 20%, 98%, 1);
    border-radius: 12px;
}

.cropSoluations__card-data div h6 {
    color: var(--first-color);
    font-size: 14px;
    font-weight: var(--weight-600);
    line-height: 20px;
    text-align: center;
}

.cropSoluations__card-data div p {
    color: var(--text-color);
    font-size: 12px;
    font-weight: var(--weight-400);
    line-height: 16px;
    text-align: center;
}

.cropSoluations__card-features {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
}

.cropSoluations__card-features-title {
    color: var(--text-color-alt);
    font-size: 14px;
    font-weight: var(--weight-600);
    line-height: 20px;
}

.cropSoluations__card-features-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.cropSoluations__card-features-list-item {
    color: var(--text-color);
    font-size: 14px;
    font-weight: var(--weight-400);
    line-height: 20px;
}

.cropSoluations__card-btn {
    padding: 12px 95px;
    color: var(--white-color);
    font-size: 14px;
    font-weight: var(--weight-600);
    line-height: 20px;
    background: var(--button-linear-gradient-alt);
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}

.cropSoluations__view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.cropSoluations__view-txt {
    color: var(--text-color);
    font-size: 18px;
    font-weight: var(--weight-400);
    line-height: 28px;
    text-align: center;
}

.cropSoluations__view-btn {
    padding: 17px 29px;
    color: var(--first-color);
    background-color: var(--white-color);
    border: 1px solid var(--first-color);
    border-radius: 999px;
    font-size: 18px;
    font-weight: var(--weight-600);
    line-height: 28px;
    text-align: center;
    cursor: pointer;
}

/* =============== FQA =============== */
.fqa {
    padding-block: 22px 50px;
    padding-inline: 272px;
}

.fqa .section__title-description {
    max-width: 785px;
}

.fqa__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-block: 59px 48px;
}

.fqa__card {
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px;
    background-color: var(--white-color);
    border: 2px solid var(--body-color);
    border-radius: 15px;
    box-shadow: 0px 2px 4px 0px hsla(0, 0%, 0%, 0.1);
    cursor: pointer;
    transition: box-shadow .3s ease-in-out
}

.fqa__card-question {
    color: var(--text-color);
    font-size: 18px;
    font-weight: var(--weight-600);
    line-height: 28px;
}

.fqa__card-plus {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    background: hsla(82, 65%, 46%, 0.1);
    border-radius: 999px;
}

.fqa__card-plus-img {
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-left: 2px;
}

.fqa__card:hover {
    box-shadow: 0px 4px 6px 0px hsla(0, 0%, 0%, 0.1);
}

.fqa__more-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.fqa__more-questions p,
.fqa__more-questions a {
    line-height: 28px;
    text-align: center;
}

.fqa__more-questions p {
    color: var(--text-color);
    font-size: 18px;
    font-weight: var(--weight-400);
}

.fqa__more-questions a {
    display: block;
    color: var(--first-color);
    font-size: 20px;
    font-weight: var(--weight-600);
    transition: 0.340s ease-out;
}

.fqa__more-questions a:hover {
    text-decoration: underline;
}