/*=============== CONTACT US ===============*/
.contact {
    margin-inline: 130px;
    padding-bottom: 196px;
}

.contact__container {
    grid-template-columns: 550px 502px;
    gap: 140px;
    padding-top: 26px;
}

.contact__content {
    grid-template-rows: 392px 546px;
    row-gap: 62px;
}

.contact__info,
.contact__fqa,
.contact__form {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border-radius: 12px;
    box-shadow: 0px 4px 6px 0px hsla(0, 0%, 0%, 0.1);
    box-shadow: 0px 10px 15px 0px hsla(0, 0%, 0%, 0.1);
    transition: box-shadow .3s ease-in-out;
}

.contact__info {
    justify-content: center;
    padding: 36px 16px 32px 50px;
    gap: 16px;
}

.contact__info-title {
    color: var(--black-color-alt);
    font-family: var(--inter-font);
    font-size: 24px;
    font-weight: var(--weight-700);
    line-height: 32px;
}

.contact__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact__info-content {
    display: flex;
    gap: 16px;
}

.contact__info-image-wrapper {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(141, 84%, 93%, 1);
    border-radius: 8px;
}

.contact__info-img {
    width: 24px;
    height: 24px;
}

.contact__info-data {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact__info-data-title,
.contact__info-data-data,
.contact__info-data-description {
    font-family: var(--inter-font);
}

.contact__info-data-title,
.contact__info-data-data {
    font-size: 18px;
    font-weight: var(--weight-600);
    line-height: 28px;
}

.contact__info-data-title {
    color: var(--black-color-alt);
}

.contact__info-data-data {
    color: var(--title-color-alt);
}

.contact__info-data-description {
    color: var(--text-color);
    font-size: 14px;
    font-weight: var(--weight-400);
    line-height: 20px;
}

.contact__fqa {
    gap: 30px;
    padding: 42px 52px;
}

.contact__fqa-image-wrapper {
    width: 423px;
    height: 256px;
}

.contact__fqa-img {
    width: 400px;
    height: 100%;
    /* margin-inline: auto; */
    object-fit: cover;
}

.contact__fqa-data {
    display: grid;
    gap: 15px;
}

.contact__fqa-data-title,
.contact__fqa-data-description {
    font-family: var(--inter-font);
}

.contact__fqa-data-title {
    color: var(--black-color-alt);
    font-size: 20px;
    font-weight: var(--weight-700);
    line-height: 28px;
}

.contact__fqa-data-description {
    max-width: 350px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: var(--weight-400);
    line-height: 24px;
}

.contact__fqa-data-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 46px;
    padding: 4px 24px;
    color: var(--white-color);
    font-size: 21px;
    font-weight: var(--weight-600);
    line-height: 148%;
    letter-spacing: 0.2px;
    border-radius: 8px;
    background-color: var(--first-color);
    text-align: center;
    vertical-align: middle;
    justify-self: start;
}

.contact__form {
    align-items: center;
    justify-content: center;
    gap: 27px;
    padding-block: 25px;
    padding-inline: 50px 40px;
}

.contact__form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.contact__form-title,
.contact__form-description,
.contact__form-label,
.contact__form-input,
.contact__form-select,
.contact__form-confirmation {
    font-family: var(--inter-font);
}

.contact__form-title,
.contact__form-description {
    margin-bottom: 20px;
}

.contact__form-title {
    color: var(--black-color-alt);
    font-size: 24px;
    font-weight: var(--weight-700);
    line-height: 32px;
}

.contact__form-description {
    max-width: 390px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: var(--weight-400);
    line-height: 24px;
}

.contact__form-group {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 21px;
    margin-bottom: 24px;
}

.contact__form-div {
    display: grid;
    row-gap: 9px;
}

.contact__form-wrapper .contact__form-div:nth-child(5) {
    margin-top: 24px;
}

.contact__form-wrapper .contact__form-div:nth-child(6) {
    margin-block: 27px;
}

.contact__form-label {
    color: var(--text-color-alt-2);
    font-size: 14px;
    font-weight: var(--weight-600);
    line-height: 20px;
}

.contact__form-label b {
    color: var(--title-color-alt);
}

.contact__form-input {
    padding-block: 15px;
    padding-inline: 16px;
    color: var(--input-color-alt);
    font-size: 16px;
    font-weight: var(--weight-400);
    line-height: 100%;
    border: 1px solid var(--border-color-alt-4);
    border-radius: 8px;
    vertical-align: middle;
}

.contact__form-group .contact__form-input {
    width: 186px;
    padding-inline: 10px;
}

.contact__form-select {
    padding: 13px 16px;
    color: var(--black-color);
    font-size: 16px;
    font-weight: var(--weight-400);
    line-height: 100%;
    border: none;
    border-radius: 8px;
    background-color: hsla(0, 0%, 85%, 1);
    vertical-align: middle;
}

.contact__form-area {
    resize: none;
    height: 169px;
}

.contact__form-button {
    width: 100%;
    display: grid;
    align-self: center;
    justify-content: center;
    background-color: var(--first-color);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 27px;
    cursor: pointer;
}

.contact__form-button-icon {
    width: 24px;
    height: 24px;
}

.contact__form-confirmation {
    color: var(--text-color-alt-3);
    font-size: 14px;
    font-weight: var(--weight-400);
    line-height: 20px;
    text-align: center;
}