/* =============== HEADER =============== */
.header {
    position: fixed;
    inset: 24px 0 auto;
    z-index: 1000;
}

.nav,
.nav__logo,
.nav__list,
.header__user-actions {
    display: flex;
    align-items: center;
}

.nav {
    justify-content: space-between;
    height: 46px;
}

.nav__logo,
.nav__link,
.nav__toggle,
.nav__close {
    cursor: pointer;
}

.nav__list,
.nav__logo {
    height: 45px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 25px;
}

.nav__list {
    justify-content: space-between;
    width: 958px;
    font-size: 20px;
    font-weight: var(--weight-500);
    padding: 10px 25px 10px 25px;
}

.nav__link,
.nav__logo-txt {
    color: var(--first-color);
}

.nav__link {
    text-transform: capitalize;
    transition: color 0.3s;
}

.nav__logo {
    justify-content: center;
    gap: 0.1rem;
    width: 160px;
    padding: 2px 5px 11px 6px;
}

.nav__logo .nav__logo-txt {
    font-family: var(--second-font);
    font-size: 20px;
    font-weight: var(--weight-700);
    margin-top: 8px;
}

.nav__logo .nav__logo-txt span {
    color: black;
}

.nav__logo .nav__logo-img {
    margin-top: 18px;
}

.header__user-actions {
    justify-content: space-between;
    width: 128px;
    height: 46px;
}

.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    border: 1.5px solid var(--border-color);
    border-radius: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);;
    transition: .4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}