/* =============== HERO =============== */
.hero__equipment {
    position: relative;
    height: 720px;
    background-image: url(/src/assets/tractor-image.png);
    background-size: cover;
    background-position-y: -345px;
    background-repeat: no-repeat;
}

.hero__equipment::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 0;
}

.hero__equipment__container {
    padding-top: 100px;
    padding-left: 100px;
}

.hero__equipment-title,
.hero__equipment-description,
.hero__equipment-buttons {
    position: relative;
    z-index: 1;
}

.hero__equipment-title {
    max-width: 672px;
    color: var(--white-color);
    font-size: 56px;
    font-weight: var(--weight-500);
    line-height: 60px;
    letter-spacing: -1.58px;
    vertical-align: middle;
    margin-bottom: 8px;
}

.hero__equipment-description {
    max-width: 790px;
    color: var(--white-color);
    font-size: 20px;
    line-height: 24px;
    font-weight: var(--weight-500);
}

.hero__equipment-buttons {
    width: 400px;
    display: flex;
    align-items: center;
    margin-top: 125px;
    margin-left: 140px;
    gap: 80px;
}

.hero__equipment-singin-btn,
.hero__equipment-singup-btn {
    width: 158px;
    height: 56px;
    padding: 10px;
    font-size: 24px;
    font-weight: var(--weight-600);
    line-height: 148%;
    letter-spacing: 0.2px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--first-color);
    border-radius: 18px;
}

.hero__equipment-singin-btn {
    color: var(--white-color);
    background-color: var(--first-color);
}

.hero__equipment-singup-btn {
    color: var(--first-color);
    background-color: var(--white-color);
}
