/* =============== HERO =============== */
.hero__equipment {
    position: relative;
    height: 720px;
    background-image: url(/src/assets/tractor-image.png);
    background-size: cover;
    background-position-y: -345px;
    background-repeat: no-repeat;
}

.hero__equipment::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 0;
}

.hero__equipment__container {
    padding-top: 100px;
    padding-left: 100px;
}

.hero__equipment-title,
.hero__equipment-description,
.hero__equipment-buttons {
    position: relative;
    z-index: 1;
}

.hero__equipment-title {
    max-width: 672px;
    color: var(--white-color);
    font-size: 56px;
    font-weight: var(--weight-500);
    line-height: 60px;
    letter-spacing: -1.58px;
    vertical-align: middle;
    margin-bottom: 8px;
}

.hero__equipment-description {
    max-width: 790px;
    color: var(--white-color);
    font-size: 20px;
    line-height: 24px;
    font-weight: var(--weight-500);
}

.hero__equipment-buttons {
    width: 400px;
    display: flex;
    align-items: center;
    margin-top: 125px;
    margin-left: 140px;
    gap: 80px;
}

.hero__equipment-singin-btn,
.hero__equipment-singup-btn {
    width: 158px;
    height: 56px;
    padding: 10px;
    font-size: 24px;
    font-weight: var(--weight-600);
    line-height: 148%;
    letter-spacing: 0.2px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--first-color);
    border-radius: 18px;
}

.hero__equipment-singin-btn {
    color: var(--white-color);
    background-color: var(--first-color);
}

.hero__equipment-singup-btn {
    color: var(--first-color);
    background-color: var(--white-color);
}

/* =============== FEATURES =============== */
.features__equipment {
    width: 1223px;
    padding-top: 44px;
    margin-inline: 129px;
}

.features__equipment .section__title-sub {
    height: fit-content;
    padding: 9px 15px;
    color: var(--white-color);
    font-size: 14px;
    font-weight: var(--weight-600);
    line-height: 20px;
    letter-spacing: 0;
    background-color: var(--second-color);
    border-radius: 999px;
    text-transform: capitalize;
}

.features__equipment .section__title-sub::before,
.features__equipment .section__title-sub::after {
    all: unset;
}

.features__equipment .section__title-title {
    height: fit-content;
    line-height: 48px;
    letter-spacing: 0;
    margin-block: 13px 28px;
}

.features__equipment .section__title-description {
    max-width: 720px;
    color: var(--first-color);
    line-height: 28px;
    letter-spacing: 0;
}

.features__equipment__container {
    flex-direction: column;
    row-gap: 60px;
    padding-top: 80px;
}

.features__equipment__wrapper {
    display: flex;
}

.features__equipment__wrapper:nth-child(1) {
    column-gap: 80px;
}

.features__equipment__wrapper:nth-child(2) {
    column-gap: 105px;
}

.features__equipment-image-wrapper {
    overflow: hidden;
    width: 616px;
    height: 453px;
    border-radius: 40px;
}

.features__equipment-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.features__equipment-content {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.features__equipment-info {
    display: flex;
    gap: 16px;
}

.features__equipment-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    padding: 20px;
    background-color: var(--second-color);
    border-radius: 12px;
    box-shadow: 0px 10px 15px 0px hsla(0, 0%, 0%, 0.1);
}

.features__equipment-icon {
    width: 24px;
    height: 24px;
}

.features__equipment-title,
.features__equipment-description {
    font-family: var(--inter-font);
}

.features__equipment-title {
    color: var(--first-color);
    font-size: 24px;
    font-weight: var(--weight-700);
    line-height: 32px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.features__equipment-description {
    max-width: 420px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: var(--weight-400);
    line-height: 29.25px;
}

/* =============== HOW IT WORKS =============== */
.howItWorks__equipment {
    padding-block: 60px 80px;
    padding-inline: 272px;
}