/* =============== FOOTER =============== */
.footer {
    height: 325px;
    background-color: var(--first-color);
    padding-block: 2.5rem;
}

.footer__container {
    grid-template-columns: repeat(5, max-content);
    justify-content: space-between;
    margin-bottom: 1rem;
}

.footer__logo {
    align-items: center;
    gap: 0.1rem;
    width: 162px;
    height: 42px;
    background-color: var(--white-color);
    border: 1px solid var(--first-color);
    border-radius: 25px;
    padding: 2px 5px 11px 6px;
    margin-top: 5px;
    cursor: pointer;
}

.footer__logo-img {
    margin-top: 19px;
}

.footer__logo-txt {
    font-family: var(--second-font);
    font-size: 20px;
    font-weight: var(--weight-700);
    color: var(--first-color);
    margin-top: 9px;
}

.footer__logo-txt span {
    color: black;
}

.footer__description {
    max-width: 257px;
    font-family: var(--inter-font);
    font-size: 14px;
    font-weight: var(--weight-400);
    line-height: 20px;
    color: hsla(0, 0%, 64%, 1);
    margin-block: 1.25rem;
}

.footer__socials {
    margin-left: 15px;
}

.footer__social-links {
    align-items: center;
    gap: 30px;
    width: 247px;
    height: 32px;
}

.footer__title {
    color: var(--white-color);
    font-size: 20px;
    font-weight: var(--weight-600);
    line-height: 28px;
    margin-bottom: 11px;
}

.footer__content:nth-child(2) .footer__title,
.footer__content:nth-child(3) .footer__title {
    font-family: var(--inter-font);
    font-size: 19px;
    font-weight: var(--weight-400);
    line-height: 24px;
}

.footer__content:nth-child(5) .footer__title {
    font-weight: var(--weight-500);
    text-align: center;
}

.footer__link,
.footer__lang span {
    display: block;
    color: var(--text-color-alt-4);
    font-family: var(--inter-font);
    font-size: 14px;
    font-weight: var(--weight-400);
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color .3s ease-in-out;
}

.footer__link.active__footer-link,
.footer__link:hover {
    color: var(--white-color);
}

.footer__lang {
    gap: 8px;
}

.footer__lang span {
    font-size: 18px;
}

.footer__lang-icon {
    width: 20px;
    height: 20px;
}

.footer__app {
    display: flex;
    flex-direction: column;
    width: 179px;
    height: 163px;
    gap: 8px;
}

.footer__app-btn,
.footer__app-txt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__app-btn {
    gap: 10px;
    width: 178px;
    height: 60px;
    color: var(--white-color);
    background-color: black;
    border-radius: 45px;
    padding: 10px 15px;
}

.footer__app-icon {
    width: 24px;
    height: 24px;
}

.footer__app-txt {
    flex-direction: column;
    gap: 0.1rem;
}

.footer__app-txt p:nth-child(1) {
    font-size: 12px;
    font-weight: var(--weight-400);
    line-height: 16px;
    text-align: center;
}

.footer__app-txt p:nth-child(2) {
    font-size: 16px;
    font-weight: var(--weight-700);
    line-height: 16px;
    text-align: center;
}

.footer__bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
}

.footer__bottom::before {
    content: '';
    position: absolute;
    top: 0;
    width: 1203px;
    height: 0.5px;
    background: hsla(82, 65%, 46%, 1);
    opacity: 15%;
    z-index: 1;
}

.copyright {
    width: 380px;
    height: 21px;
    color: var(--text-color-alt-4);
    font-family: var(--inter-font);
    font-size: 18px;
    font-weight: var(--weight-400);
    line-height: 20px;
    text-align: center;
}