/* =============== HERO FARMER =============== */
.hero__farmer {
    padding-bottom: 94px;
}

.hero__farmer__container {
    grid-template-columns: 2fr 1fr;
    padding-top: 60px;
}

.hero__farmer__content:nth-child(1) {
    padding-top: 25px;
}

.hero__farmer-subtitle,
.hero__farmer-title,
.hero__farmer-card-description {
    font-family: var(--inter-font);
}

.hero__farmer-subtitle {
    width: fit-content;
    padding: 5px 8px;
    color: var(--title-color-alt);
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 20px;
    background-color: var(--second-color-alt);
    border-radius: 15px;
    margin-left: 10px;
}

.hero__farmer-title {
    max-width: 540px;
    padding: 10px;
    color: var(--first-color);
    font-size: 60px;
    font-weight: var(--weight-700);
    line-height: 60px;
    margin-block: 12px 32px;
}

.hero__farmer-title span {
    color: var(--second-color);
}

.hero__farmer-description {
    max-width: 520px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: var(--weight-400);
    line-height: 28px;
    margin-left: 13px;
    margin-bottom: 28px;
}

.hero__farmer-buttons {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 41px;
    margin-left: 50px;
}

.hero__farmer-singup-btn,
.hero__farmer-singin-btn {
    width: 158px;
    height: 56px;
    padding: 10px;
    font-size: 24px;
    font-weight: var(--weight-600);
    line-height: 148%;
    letter-spacing: 0.45px;
    border: 1px solid var(--first-color);
    border-radius: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.hero__farmer-singup-btn {
    color: var(--first-color);
    background-color: var(--white-color);
}

.hero__farmer-singin-btn {
    color: var(--white-color);
    background-color: var(--first-color);
}

.hero__farmer-card {
    width: 534px;
    height: 353px;
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    padding: 32px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color-alt-5);
    border-radius: 24px;
    box-shadow: 0px 25px 50px 0px hsla(0, 0%, 0%, 0.25);
}

.hero__farmer-card-content {
    display: grid;
    align-items: center;
    grid-template-columns: 0.2fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
    border-radius: 12px;
    padding: 15px;
}

.hero__farmer-card-content:nth-child(1) {
    background: linear-gradient(90deg, hsla(214, 100%, 97%, 1) 0%, hsla(214, 95%, 93%, 1) 100%);
}

.hero__farmer-card-content:nth-child(2) {
    background: linear-gradient(90deg, hsla(149, 80%, 90%, 1) 0%, hsla(138, 76%, 97%, 1) 100%);

}

.hero__farmer-card-content:nth-child(3) {
    background: linear-gradient(90deg, hsla(34, 100%, 92%, 1) 0%, hsla(48, 100%, 96%, 1) 100%);
}

.hero__farmer-icon-wrapper {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.hero__farmer-card-content:nth-child(1) .hero__farmer-icon-wrapper {
    background-color: var(--blue-bg-color);
}

.hero__farmer-card-content:nth-child(2) .hero__farmer-icon-wrapper {
    background-color: var(--green-bg-color);
}

.hero__farmer-card-content:nth-child(3) .hero__farmer-icon-wrapper {
    background-color: var(--orange-bg-color);
}

.hero__farmer-card-icon {
    width: 24px;
    height: 24px;
}

.hero__farmer-card-data {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
}

.hero__farmer-card-data h6,
.hero__farmer-card-data p {
    font-family: var(--inter-font);
}

.hero__farmer-card-data h6 {
    color: var(--text-color);
    font-size: 14px;
    font-weight: var(--weight-400);
    line-height: 20px;
}

.hero__farmer-card-data p {
    color: var(--black-color-alt);
    font-size: 18px;
    font-weight: var(--weight-600);
    line-height: 28px;
}

.hero__farmer-card-img,
.hero__farmer-card-description {
    justify-self: end;
}

.hero__farmer-card-img {
    width: 24px;
    height: 24px;
}

.hero__farmer-card-description {
    padding: 4px 11.5px;
    color: var(--white-color);
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 16px;
    background-color: var(--title-color-alt-2);
    border-radius: 999px;
    text-transform: capitalize;
}
/* =============== ABOUT FARMER CONSULTATION =============== */
.about__farmer {
    padding-inline: 162px;
    padding-bottom: 45px;
}

.about__farmer .section__title-title,
.about__farmer .section__title-description {
    letter-spacing: 0;
}

.about__farmer .section__title-title {
    font-size: 36px;
    line-height: 40px;
    margin-block: 0;
}

.about__farmer .section__title-description {
    font-size: 18px;
    line-height: 28px;
}

.about__farmer-cards {
    grid-template-columns: repeat(3, 356px);
    grid-template-rows: repeat(3, 227px);
    align-items: center;
    justify-content: center;
    gap: 34px;
    margin-top: 35px;
}

.about__farmer-card {
    flex-direction: column;
    gap: 14px;
    padding: 20px 25px;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    box-shadow: 0px 10px 15px 0px hsla(0, 0%, 0%, 0.1);
    background-color: var(--white-color);
}

.about__farmer-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 12px;
}

.about__farmer-card:nth-child(1) .about__farmer-icon-wrapper {
    background: linear-gradient(90deg, hsla(221, 83%, 53%, 1) 0%, hsla(217, 91%, 60%, 1) 100%);
}

.about__farmer-card:nth-child(2) .about__farmer-icon-wrapper {
    background: linear-gradient(90deg, hsla(161, 94%, 30%, 1) 0%, hsla(142, 71%, 45%, 1) 100%);
}

.about__farmer-card:nth-child(3) .about__farmer-icon-wrapper {
    background: linear-gradient(90deg, hsla(21, 90%, 48%, 1) 0%, hsla(38, 92%, 50%, 1) 100%);
}

.about__farmer-card:nth-child(4) .about__farmer-icon-wrapper {
    background: linear-gradient(90deg, hsla(175, 84%, 32%, 1) 0%, hsla(173, 80%, 40%, 1) 100%);
}

.about__farmer-card:nth-child(5) .about__farmer-icon-wrapper {
    background: linear-gradient(90deg, hsla(347, 77%, 50%, 1) 0%, hsla(350, 89%, 60%, 1) 100%);
}

.about__farmer-card:nth-child(6) .about__farmer-icon-wrapper {
    background: linear-gradient(90deg, hsla(215, 19%, 35%, 1) 0%, hsla(215, 16%, 47%, 1) 100%);
}

.about__farmer-card:nth-child(7) .about__farmer-icon-wrapper {
    background: linear-gradient(90deg, hsla(243, 75%, 59%, 1) 0%, hsla(239, 84%, 67%, 1) 100%);
}

.about__farmer-card:nth-child(8) .about__farmer-icon-wrapper {
    background: linear-gradient(90deg, hsla(192, 91%, 36%, 1) 0%, hsla(189, 94%, 43%, 1) 100%);
}

.about__farmer-card:nth-child(9) .about__farmer-icon-wrapper {
    background: linear-gradient(90deg, hsla(41, 96%, 40%, 1) 0%, hsla(45, 93%, 47%, 1) 100%);
}

.about__farmer-card-icon {
    width: 24px;
    height: 24px;

}

.about__farmer-card-title,
.about__farmer-card-description {
    font-family: var(--inter-font);
}

.about__farmer-card-title {
    color: var(--black-color-alt-2);
    font-size: 20px;
    font-weight: var(--weight-600);
    line-height: 28px;
}

.about__farmer-card-description {
    color: var(--text-color);
    font-size: 16px;
    font-weight: var(--weight-400);
    line-height: 26px;
}

/* =============== ABOUT FARMER OPERATION =============== */
.about2__farmer {
    padding-block: 40px 25px;
    padding-inline: 162px;
}

.about2__farmer .section__title-title,
.about2__farmer .section__title-description {
    letter-spacing: 0;
}

.about2__farmer .section__title-title {
    line-height: 48px;
    margin-block: 0;
}

.about2__farmer .section__title-description {
    max-width: 900px;
    line-height: 28px;
    margin-top: 10px;
}

.about2__farmer-cards {
    grid-template-columns: repeat(2, 542px);
    grid-template-rows: repeat(2, 320px);
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 58px;
}

.about2__farmer-card {
    flex-direction: column;
    gap: 14px;
}
/* =============== HOW IT WORKS =============== */
.howItWorks__farmer {
    padding-block: 40px 80px;
    padding-inline: 261px;
}

.howItWorks__farmer .section__title-title,
.howItWorks__farmer .section__title-description {
    letter-spacing: 0;
}

.howItWorks__farmer .section__title-title {
    line-height: 48px;
    margin-block: 0;
}

.howItWorks__farmer .section__title-description {
    line-height: 28px;
    margin-top: 10px;
}

.howItWorks__farmer-cards {
    width: 900px;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.howItWorks__farmer-card {
    position: relative;
    width: 416px;
    padding: 24px;
    background-color: var(--body-color);
    border-radius: 8px;
    box-shadow: 0px 4px 6px -1px hsla(0, 0%, 0%, 0.1);
}

.howItWorks__farmer-card:nth-child(odd) {
    justify-self: start;
}

.howItWorks__farmer-card:nth-child(even) {
    justify-self: end;
}

.howItWorks__farmer-card::before {
    content: '';
    position: absolute;
    width: 40.49px;
    height: 40px;
    background-color: var(--first-color);
    border-radius: 999px;
    transform: translate(0%, -50%);
    z-index: 0;
}

.howItWorks__farmer-card:nth-child(odd)::before {
    top: 50%;
    left: calc(100% + 16px);
}

.howItWorks__farmer-card:nth-child(even)::before {
    top: 50%;
    right: calc(100% + 12px);
}

.howItWorks__farmer-card::after {
    content: attr(data-number);
    position: absolute;
    top: 50%;
    height: 32px;
    color: var(--white-color);
    font-family: var(--inter-font);
    font-size: 24px;
    font-weight: var(--weight-700);
    line-height: 32px;
    transform: translate(0%, -50%);
    z-index: 1;
}

.howItWorks__farmer-card:nth-child(odd):after {
    left: calc(100% + 28px);
}

.howItWorks__farmer-card:nth-child(1):after {
    left: calc(100% + 30px);
}

.howItWorks__farmer-card:nth-child(even):after {
    right: calc(100% + 25px);
}

.howItWorks__farmer-card-title {
    color: var(--black-color-alt-3);
    font-family: var(--inter-font);
    font-size: 18px;
    font-weight: var(--weight-600);
    line-height: 28px;
    vertical-align: middle;
}

.howItWorks__farmer-card-description {
    max-width: 344px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: var(--weight-400);
    line-height: 24px;
    vertical-align: middle;
}

.howItWorks__farmer-vertical-line {
    position: absolute;
    left: calc(50% + 1px);
    width: 2px;
    height: 100%;
    background: hsla(129, 18%, 35%, 0.2);
    z-index: -1;
}