/* =============== HERO FARMER =============== */
.hero__farmer {
    padding-bottom: 94px;
}

.hero__farmer__container {
    grid-template-columns: 2fr 1fr;
    padding-top: 60px;
}

.hero__farmer__content:nth-child(1) {
    padding-top: 25px;
}

.hero__farmer-subtitle,
.hero__farmer-title,
.hero__farmer-card-description {
    font-family: var(--inter-font);
}

.hero__farmer-subtitle {
    width: fit-content;
    padding: 5px 8px;
    color: var(--title-color-alt);
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 20px;
    background-color: var(--second-color-alt);
    border-radius: 15px;
    margin-left: 10px;
}

.hero__farmer-title {
    max-width: 540px;
    padding: 10px;
    color: var(--first-color);
    font-size: 60px;
    font-weight: var(--weight-700);
    line-height: 60px;
    margin-block: 12px 32px;
}

.hero__farmer-title span {
    color: var(--second-color);
}

.hero__farmer-description {
    max-width: 520px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: var(--weight-400);
    line-height: 28px;
    margin-left: 13px;
    margin-bottom: 28px;
}

.hero__farmer-buttons {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 41px;
    margin-left: 50px;
}

.hero__farmer-singup-btn,
.hero__farmer-singin-btn {
    width: 158px;
    height: 56px;
    padding: 10px;
    font-size: 24px;
    font-weight: var(--weight-600);
    line-height: 148%;
    letter-spacing: 0.45px;
    border: 1px solid var(--first-color);
    border-radius: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.hero__farmer-singup-btn {
    color: var(--first-color);
    background-color: var(--white-color);
}

.hero__farmer-singin-btn {
    color: var(--white-color);
    background-color: var(--first-color);
}

.hero__farmer-card {
    width: 534px;
    height: 353px;
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    padding: 32px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color-alt-5);
    border-radius: 24px;
    box-shadow: 0px 25px 50px 0px hsla(0, 0%, 0%, 0.25);
}

.hero__farmer-card-content {
    display: grid;
    align-items: center;
    grid-template-columns: 0.2fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
    border-radius: 12px;
    padding: 15px;
}

.hero__farmer-card-content:nth-child(1) {
    background: linear-gradient(90deg, hsla(214, 100%, 97%, 1) 0%, hsla(214, 95%, 93%, 1) 100%);
}

.hero__farmer-card-content:nth-child(2) {
    background: linear-gradient(90deg, hsla(149, 80%, 90%, 1) 0%, hsla(138, 76%, 97%, 1) 100%);

}

.hero__farmer-card-content:nth-child(3) {
    background: linear-gradient(90deg, hsla(34, 100%, 92%, 1) 0%, hsla(48, 100%, 96%, 1) 100%);
}

.hero__farmer-icon-wrapper {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.hero__farmer-card-content:nth-child(1) .hero__farmer-icon-wrapper {
    background-color: var(--blue-bg-color);
}

.hero__farmer-card-content:nth-child(2) .hero__farmer-icon-wrapper {
    background-color: var(--green-bg-color);
}

.hero__farmer-card-content:nth-child(3) .hero__farmer-icon-wrapper {
    background-color: var(--orange-bg-color);
}

.hero__farmer-card-icon {
    width: 24px;
    height: 24px;
}

.hero__farmer-card-data {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
}

.hero__farmer-card-data h6,
.hero__farmer-card-data p {
    font-family: var(--inter-font);
}

.hero__farmer-card-data h6 {
    color: var(--text-color);
    font-size: 14px;
    font-weight: var(--weight-400);
    line-height: 20px;
}

.hero__farmer-card-data p {
    color: var(--black-color-alt);
    font-size: 18px;
    font-weight: var(--weight-600);
    line-height: 28px;
}

.hero__farmer-card-img,
.hero__farmer-card-description {
    justify-self: end;
}

.hero__farmer-card-img {
    width: 24px;
    height: 24px;
}

.hero__farmer-card-description {
    padding: 4px 11.5px;
    color: var(--white-color);
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 16px;
    background-color: var(--title-color-alt-2);
    border-radius: 999px;
    text-transform: capitalize;
}
