/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --first-color: hsla(118, 47%, 23%, 1);
    --second-color: hsla(82, 65%, 46%, 1);
    --second-color-alt: hsla(82, 65%, 46%, 0.6);
    --title-color: hsla(118, 47%, 23%, 1);
    --title-color-alt: hsla(142, 72%, 29%, 1);
    --title-color-alt-2: hsla(142, 76%, 36%, 1);
    --text-color: hsla(215, 14%, 34%, 1);
    --text-color-alt: hsla(215, 28%, 17%, 1);
    --text-color-alt-2: hsla(217, 19%, 27%, 1);
    --text-color-alt-3: hsla(220, 9%, 46%, 1);
    --text-color-alt-4: hsla(0, 0%, 64%, 1);
    --input-color: hsla(0, 0%, 46%, 1);
    --input-color-alt: hsla(0, 0%, 60%, 1);
    --nav-color: hsla(113, 15%, 54%, 1);
    --body-color: hsla(0, 0%, 96%, 1);
    --body-color-alt: hsla(0, 0%, 93%, 1);
    --body-color-alt-2: hsla(72, 29%, 97%, 1);
    --body-color-alt-3: hsla(0, 0%, 97%, 1);;
    --border-color: hsla(220, 14%, 96%, 1);
    --border-color-alt: hsla(220, 13%, 91%, 1);
    --border-color-alt-2: hsla(118, 47%, 23%, 0.2);
    --border-color-alt-3: hsla(0, 0%, 75%, 1);
    --border-color-alt-4: hsla(216, 12%, 84%, 1);
    --border-color-alt-5: hsla(141, 84%, 93%, 1);
    --white-color: hsla(0, 0%, 100%, 1);
    --white-color-alt: hsla(0, 0%, 96%, 1);
    --black-color: hsla(0, 0%, 0%, 1);
    --black-color-alt: hsla(221, 39%, 11%, 1);
    --black-color-alt-2: hsla(0, 0%, 13%, 1);
    --black-color-alt-3: hsla(0, 0%, 20%, 1);

    /* Background Colors */
    --blue-bg-color: hsla(217, 91%, 60%, 1);
    --green-bg-color: hsla(142, 71%, 45%, 1);
    --orange-bg-color: hsla(38, 92%, 50%, 1);


    /* Linear Gradient */
    --linear-gradient: linear-gradient(90deg, hsla(118, 47%, 23%, 1) 0%, hsla(115, 48%, 30%, 1) 33%, hsla(82, 65%, 46%, 1) 100%);

    --blue-linear-gradient: linear-gradient(90deg, hsla(189, 94%, 43%, 1) 0%, hsla(217, 91%, 60%, 1) 100%);
    --green-linear-gradient: linear-gradient(90deg, hsla(160, 84%, 39%, 1) 0%, hsla(142, 71%, 45%, 1) 100%);
    --yellow-linear-gradient: linear-gradient(90deg, hsla(38, 92%, 50%, 1) 0%, hsla(25, 95%, 53%, 1) 100%);
    --pink-linear-gradient: linear-gradient(90deg, hsla(350, 89%, 60%, 1) 0%, hsla(0, 84%, 60%, 1) 100%);
    --purple-linear-gradient: linear-gradient(90deg, hsla(258, 90%, 66%, 1) 0%, hsla(271, 91%, 65%, 1) 100%);
    --green-blue-linear-gradient: linear-gradient(90deg, hsla(142, 71%, 45%, 1) 0%, hsla(173, 80%, 40%, 1) 100%);

    --subtitle-linear-gradient: -webkit-linear-gradient(190deg, hsla(118, 47%, 23%, 1) 3.65%, hsla(118, 47%, 50%, 1) 124.66%);
    /* --subtitle-linear-gradient-alt: linear-gradient(270deg, hsla(118, 47%, 23%, 1) 3.65%, hsla(118, 47%, 50%, 1) 124.66%); */

    --border-linear-gradient: linear-gradient(88.04deg, hsla(0, 0%, 100%, 1) -14.79%, hsla(82, 65%, 46%, 1) 50.3%);

    --button-linear-gradient: linear-gradient(269.19deg, hsla(82, 65%, 46%, 1) 20.81%, hsla(82, 65%, 22%, 1) 110.66%);
    --button-linear-gradient-alt: linear-gradient(90deg, hsla(114, 43%, 34%, 1), 0%, hsla(118, 47%, 23%, 1) 100%);

    --circle-linear-gradient: linear-gradient(90deg, hsla(118, 47%, 23%, 1) 0%, hsla(82, 65%, 46%, 1) 100%);


    /*========== Font family ==========*/
    --body-font: 'Roboto', sans-serif;
    --second-font: 'El Messiri', sans-serif;
    --inter-font: 'Inter', sans-serif;
    --cairo-font: "Cairo", sans-serif;

    /*========== Font sizes ==========*/
    --big-font-size: 3.5rem;         /* 3.5rem    ==> 56px */
    --h1-font-size: 2.75rem;         /* 2.75rem   ==> 44px */
    --h2-font-size: 2rem;            /* 2rem      ==> 32px */
    --h3-font-size: 1.75rem;         /* 1.75rem   ==> 28px */
    --h4-font-size: 1.375rem;        /* 1.375rem  ==> 22px */
    --large-font-size: 1.125rem;     /* 1.125rem  ==> 18px */
    --normal-font-size: 1rem;        /* 1rem      ==> 16px */
    --small-font-size: 0.875rem;     /* 0.875rem  ==> 14px */
    --smaller-font-size: 0.75rem;    /* 0.75rem   ==> 12px */
    --tiny-font-size: 0.6875rem;     /* 0.6875rem ==> 11px */

    /* ========== Font weight ========== */
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --weight-800: 800;
    --weight-900: 900;

    /* ========== Transition ========== */
    --transition: cubic-bezier(0, 0, 0.05, 1);
}

/* Responsive typography */
@media screen and (max-width: 1200px) {
    :root {

    }
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--white-color);
    color: var(--text-color)
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--weight-600);
    line-height: 1.2;
    /* line-height: 120%; */
}

p {
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    background-color: transparent;
    border: none;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding-top: 6.25rem;
}

/*=============== LAYOUT ===============*/
.container {
    max-width: 1336px;
    margin-inline: auto;
    padding-inline: 1.2rem;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}