/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --first-color: hsla(118, 47%, 23%, 1);
    --second-color: hsla(82, 65%, 46%, 1);
    --title-color: hsla(118, 47%, 23%, 1);
    --text-color: hsla(215, 14%, 34%, 1);
    --text-color-alt: hsla(0, 0%, 64%, 1);
    --body-color: hsla(0, 0%, 93%, 1);
    --body-color-alt: hsla(72, 29%, 97%, 1);
    --border-color: hsla(118, 47%, 23%, 1);
    --border-color-alt: hsla(220, 13%, 91%, 1);
    --white-color: hsla(0, 0%, 100%, 1);
    --white-color-alt: hsla(0, 0%, 96%, 1);

    /* Linear Gradient */
    --linear-gradient: linear-gradient(90deg, hsla(118, 47%, 23%, 1) 0%, hsla(115, 48%, 30%, 1) 33%, hsla(82, 65%, 46%, 1) 100%);

    --title-linear-gradient: linear-gradient(270deg, hsla(118, 47%, 23%, 1) 3.65%, hsla(118, 47%, 50%, 1) 124.66%);
    --button-linear-gradient: linear-gradient(270deg, hsla(118, 47%, 23%, 1) 3.65%, hsla(118, 47%, 50%, 1) 124.66%);
    --button-linear-gradient-alt: linear-gradient(90deg, hsla(114, 43%, 34%, 1), 100%, hsla(118, 47%, 23%, 1) 0%);
    --circle-linear-gradient: linear-gradient(90deg, hsla(82, 65%, 46%, 1) 100%, hsla(118, 47%, 23%, 1) 0%);


    /*========== Font family ==========*/
    --body-font: 'Roboto', sans-serif;
    --second-font: 'El Messiri', sans-serif;

    /*========== Font sizes ==========*/
    --big-font-size: 3.5rem;         /* 3.5rem    ==> 56px */
    --h1-font-size: 2.75rem;         /* 2.75rem   ==> 44px */
    --h2-font-size: 2rem;            /* 2rem      ==> 32px */
    --h3-font-size: 1.75rem;         /* 1.75rem   ==> 28px */
    --h4-font-size: 1.375rem;        /* 1.375rem  ==> 22px */
    --large-font-size: 1.125rem;     /* 1.125rem  ==> 18px */
    --normal-font-size: 1rem;        /* 1rem      ==> 16px */
    --small-font-size: 0.875rem;     /* 0.875rem  ==> 14px */
    --smaller-font-size: 0.75rem;    /* 0.75rem   ==> 12px */
    --tiny-font-size: 0.6875rem;     /* 0.6875rem ==> 11px */

    /* ========== Font weight ========== */
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --weight-800: 800;

    /* ========== Transition ========== */
    --transition: cubic-bezier(0, 0, 0.05, 1);
}

/* Responsive typography */
@media screen and (max-width: 1200px) {
    :root {

    }
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color)
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--weight-600);
    line-height: 1.2;
    /* line-height: 120%; */
}

p {
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    background-color: transparent;
    border: none;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding-top: 6.25rem;
}

/*=============== LAYOUT ===============*/
.container {
    max-width: 1336px;
    margin-inline: auto;
    padding-inline: 1.2rem;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}